.productCard {
  width: 250px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  gap: 5px;
}

.productCard:hover {
  transform: translateY(-5px); /* 호버시 살짝 위로 올라가는 효과 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 호버시 그림자 강조 */
}

.productCard > .productTitle,
.productPrice {
  font-weight: 700;
}

.productCard > .productImg {
  background-color: cadetblue;
  width: 100%;
  height: 200px;
}

.productCard > .productImg > .product-img {
  width: 100%;
  height: 200px;
}

.productCard > .info {
  font-size: small;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.productCard > .info > .date {
  display: flex;
}

.View_icon {
  margin: 1px;
  font-size: 10px;
}

.productCard > .info > .date > .productDay,
.seller {
  margin: 3px;
}

.productCard > .info > .productView {
  margin: 3px;
}
